.header {
    color: red;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subheader {
    color: blue;
    font-style: italic;
}

.navbar {
    background: #00008f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-option {
    color: white;
    margin-right: 5px;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

.home {
    padding-bottom: 5px;
    justify-content: center;
    text-align: center;
    background-color: #b4e1fe;
    display: flex;
    flex-direction: column;
} 
.home img {
    max-width: 300px;
    height: auto;
    align-self: center;
}
.split-section img {
    max-height: 300px;
    width: auto;
    padding: 5px;
}

.split-section {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.projects {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    justify-content: center;
}

hr {
    display: block;
    height: 2px;
    border: none;
    background-color: #000000;
    margin: 10px 0;
}

.column {
    flex: 1;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}

.columnA{
    flex: 1;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.columnA img {
    max-width: 275px;
    height: auto;
    padding: 3px;
}

li {
    padding: 4px;
}